@font-face {
    font-family: Digital;
    src: url(./Digital_NonCompatible/digital-7.ttf);
}
@font-face {
    font-family: Digital Italics;
    src: url(./Digital_NonCompatible/digital-7\ \(italic\).ttf);
}
@font-face {
    font-family: Digital Italics Mono;
    src: url(./Digital_NonCompatible/digital-7\ \(mono\ italic\).ttf);
}
@font-face {
    font-family: Digital Mono;
    src: url(./Digital_NonCompatible/digital-7\ \(mono\).ttf);
}
@font-face {
    font-family: TDigital;
    src: url("./TDigital/TypoDigitDemo-VG9lV.ttf");
}
@font-face {
    font-family: TDigital Italics;
    src: url("./TDigital/TypoDigitDemoItalic-JRogn.ttf");
}